body{
    background:#80BCCC;
}

h1 {
    font-family: Mina;
    text-align: center;
    color: green;
    text-decoration: underline;
}
.navbar {
    padding: 20;


  }
  .navbar ul {
    margin: 0;
    padding: 20;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
.navbar a{
    padding: 10px 0 10px 30px;
    font-size: 20px;
}
.our_img{
    height: 200px;
    background-size:contain;
}
.row::after{
    content: "";
    clear : both;
    display : table;
}
#second_div{
    float: left;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;

}
.biograpghy{
    display: table-cell;
    height: 200px;
    font-size:15px;
    background-color: #9AA0FF;
}
.skills{
    display: table-cell;
    font-size:15px;
    background-color: #FFE1A8;

}
.experience{
    display: table-cell;
    font-size:15px;
    background-color: #4F7B7D;
}
.images_2{
    text-align: center;
    color:green;
    font-size:20px;
    }



