   .container{
       background:green;
       position:sticky;
   }

.container ul li{
     list-style:none;
     margin: 0 20px;
     display: inline;
     position:sticky; 

 }
 .container ul li a{
     color: #fff;
     font-size: 1em;
     line-height: 1em;
     text-transform: uppercase;
     text-decoration: none;
     padding: 15px 20px;
     display: inline-block;
     font-weight: 700;
     transition: 0.5s;

 }
     .container ul li a.active{
         background: #E91E63;

     }
       .container ul li:hover a{
           background: #01796F ;
       }

     h1{
         text-align: center;
         text-transform: uppercase;
         color:#349631;
       font-size: 30px;
     }

     p{
       font-size: 20px;
       align-items: center;
       color: #3474AD;
     }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: fern;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  text-align: center;
}
.content {
  margin: 10% auto;
  padding: 0;
  background-color: antiquewhite;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  overflow: hidden;
  border: 1px saddlebrown solid;
  box-shadow: 20px hsl(0, 0%, 3%);
  z-index: -1;
}
.show {
  padding: 0%;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.slide_content {
  float: left;
  width: 600px;
  height: 300px;
}
.slides {
  width: 2500px;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  /* -webkit-animation-direction: alternate; */
  -webkit-animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_content:nth-child(1) {
  background: rgb(247, 173, 210);
  z-index: 1;
}

.slide_content:nth-child(2) {
  background: hsl(108, 100%, 88%);
}

.slide_content:nth-child(3) {
  background: rgb(226, 192, 192);
}

.slide_content:nth-child(4) {
  background: rgb(236, 236, 149);
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: calc(-600px * 1);
  }

  60% {
    margin-left: calc(-600px * 2);
  }

  80% {
    margin-left: calc(-600px * 3);
  }
}
