table{
    border-collapse: collapse;
    max-width: 1000px;
}

td{

 border: solid 1px;
}
th{
      border: solid 1px;
      background-color:#009879;
      text-align:center;
      color:white;
      font-weight:bold;

}
   th td{
       padding: 12px 15px;
   }
     tr

     {
         border-bottom: 1px solid #ddddd;

     }]